.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 300px;
  border: 4px dashed #284456;
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.content {
    align-items: center;
    max-width: 1300px;
    margin: 10px auto;
    padding: 15px;
}


.file-label{
    font-size: 1.2em;
}

#input{
    display: none;
}

#uploadLogo {
  height: 100px;
}
