<body style="text-align: center">
  <div class="content mat-typography">
    <h1>CanDefinition hochladen</h1>
    <div class="dropzone" appDnd (hovered)=toggleHover($event) (tooMuchData)=dataValid($event)
      (fileDropped)=startUpload($event)>
      <div>
        <h3 *ngIf="tooMuchData" style="color: red">Bitte nur eine Datei auswählen</h3>
        <h2 class="centered" *ngIf="!isHovering">Can-Defintions-Datei hier ablegen</h2>
        <p *ngIf="!isHovering">oder</p>
        <div class="file">
          <label class="file-label">
            <input id="input" type="file" (change)="startUpload($event.target.files)" #fileInput>
            <img id="uploadLogo" src="../../../assets/ic_cloud_upload_black_48px.svg" alt="Upload" *ngIf="isHovering">
            <br>
            <button mat-raised-button color="primary" (click)="fileInput.click()" *ngIf="!isHovering">
              Datei auswählen</button>
          </label>
        </div>
      </div>
      <mat-progress-bar id="progressBar" [color]="color" mode='determinate' [value]="progressState">
      </mat-progress-bar>
    </div>
  </div>
</body>