<mat-toolbar color="primary">

  <span>
    <a routerLink="/" style="cursor: pointer">
      <img id="logo-primary" src="../../../assets/akkaLogo.png" height="65px" alt="AKKA Diag Tool">
    </a>
  </span>

  <span class="example-fill-remaining-space"></span>

  <a>
    <button mat-flat-button routerLink="/canLoop" (click)="onCanLog()" color="primary">CAN-LOG</button>
  </a>
  <a>
    <button mat-flat-button routerLink="/viz"  (click)="onVisual()" color="primary">Grafik</button>
  </a>
  <a>
    <button mat-flat-button routerLink="/upload"  (click)="onUpload()" color="primary">Upload</button>
  </a>

</mat-toolbar>