<body>
  <h3 style="text-align: center">Tabellarische Darstellung der CAN-Nachrichten</h3>
  <div class="content mat-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> TimeStamp </th>
        <td mat-cell *matCellDef="let element"> {{element.tStamp.toLocaleString() | date :'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="canId">
        <th mat-header-cell *matHeaderCellDef> CAN-ID(Hex) </th>
        <td mat-cell *matCellDef="let element"> 0x{{element.idHex}} </td>
      </ng-container>

      <ng-container matColumnDef="sig_name">
        <th mat-header-cell *matHeaderCellDef> Signal Name </th>
        <td mat-cell *matCellDef="let element">{{element.sig_name}}</td>
      </ng-container>

      <ng-container matColumnDef="dlc">
        <th mat-header-cell *matHeaderCellDef> [DLC] </th>
        <td mat-cell *matCellDef="let element">[{{element.dlc}}]</td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">{{element.data}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</body>