<body>
  <h3 style="text-align: center">Grafische Darstellung eines CAN-Signals</h3>
  <ngx-gauge [type]="gaugeType" [value]="gaugeValue" [label]="gaugeLabel" [append]="gaugeAppendKmh" [size]="gaugeSize" [min]="0" [max]="150">
  </ngx-gauge>
</body>