/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '../style-variables';
@import '~@angular/material/theming';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@include mat-core();

$my-theme-primary: mat-palette($akka-blue);
$my-theme-accent: mat-palette($akka-grey);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);

@include angular-material-theme($my-theme);
